*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none;
}
.active{
    display: block;
}
/* NavBar */
.navbar-mobile{
    display: none;
}
.navbar-desktop{
    display: flex;
}
.navbar-desktop div{
    margin: 0 15px 0 15px;
    font-size: 1.2rem;
}
#Logo{
    font-size: 1.3rem;
}
/* About */
.about-container{
    margin: 0 20px 0 20px;
}
.about-subcard{
    display: flex;
    width: 100%;
}
.about{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}
.about-card > h4{
    font-size: 1.3rem;
}
.about > div{
    width: 400px;
    background-color:  rgb(202, 232, 243);
    padding: 30px;
    border-radius: 20px;
}
.about-img-container{
    width: 50%;
}
#about-img-mobile{
    width: 500px;
}
.about-link{
    display: block;
    margin-top: 50px;
    font-size: 1rem;
}
#about-btn{
    width: 200px;
    height: 50px;
    font-size: 1rem;
    margin-top: 70px;
}
/* Skillset */
.skills > h4{
    font-size: 1.3rem;
}
.skill{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.skill p{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.skill-img{
    margin-top: 10px;
    width: 70px;
}
.skill-container{
    margin: 50px 0 0 0;
}
.two-skills-container{
    display: flex;
    width: 100%;
    align-items: center;
}
.technical-Skills-container{
    width: 50%;
    margin-top: 50px;
}
.technical-Skills-container > h4{
    font-size: 1.1rem;
}
.soft-Skills-container{
    width: 50%;
    margin-top: 50px;
}
.soft-Skills-container > h4{
    font-size: 1.1rem;
}
.certificate-img{
    width: 300px;
}
